Package             Version
------------------- -------
asgiref             3.8.1
astroid             3.2.2
colorama            0.4.6
dill                0.3.8
Django              5.0.6
isort               5.13.2
mccabe              0.7.0
pillow              10.3.0
pip                 24.0
platformdirs        4.2.2
psycopg2            2.9.9
psycopg2-binary     2.9.9
pylint              3.2.3
pylint-django       2.5.5
pylint-plugin-utils 0.8.2
sqlparse            0.5.0
tomlkit             0.12.5
tzdata              2024.1
